# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeFiles/
Nes_Snd_Emu.dir/
Debug/
Release/
RelWithDebInfo/
cmake_install.cmake
Nes_Snd_Emu.sln
Nes_Snd_Emu.vcxproj.filters
Nes_Snd_Emu.vcxproj
ALL_BUILD.vcxproj.filters
ALL_BUILD.vcxproj
CMakeScripts
*.xcodeproj
CMakeCache.txt
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
.vs/
*.filters
SDL_Sound_Queue.vcxproj
demo.vcxproj
